PORTAL_ADMIN_FIRSTNAME = egihs
PORTAL_ADMIN_LASTNAME = admin
# admin username and admin password is given from terraform deployment and ansible task insert them
# PORTAL_ADMIN_USERNAME = ${ arcgisportal_init_admin_user }
# PORTAL_ADMIN_PASSWORD = ${ arcgisportal_init_admin_password }
PORTAL_ADMIN_PASSWORD_ENCRYPTED = false
PORTAL_ADMIN_EMAIL = atsuhito_nakano@esrij.com
PORTAL_ADMIN_SECURITY_QUESTION_INDEX = 1
PORTAL_ADMIN_SECURITY_QUESTION_ANSWER = EsriJapan
# get the content directory info from registry key and ansible task insert them
# PORTAL_CONTENT_DIRECTORY = D:\\egihs\\arcgisportal
# PORTAL_LICENSE_FILE = C:\\arcgisdeployment\\temp\\arcgisportal.json
PORTAL_USER_TYPE_ID = creatorUT